@import '../../../styles';

.survey-results-container {
  @include page-layout;

  .survey-card {
    @include card;
    text-decoration: none;
    display: flex;
    flex-direction: row;

    &:hover {
      cursor: pointer;
    }

    &:visited {
      color: #535F67;
    }
  }

  .survey-card-content {
    width: 95%;
  }

  p {
    margin-top: 10px;
  }

  .chevron-svg {
    justify-content: right;
    display: flex;
    justify-content: right;
    align-items: center;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
