@import '../../../styles';

.survey-results-container {
  @include page-layout;

  .survey-card {
    @include card;
    text-decoration: none;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;

    &:hover {
      cursor: pointer;
    }

    &:visited {
      color: #292F33;
    }
  }

  .survey-card-content {
    width: 95%;
  }

  .chevron-svg {
    justify-content: right;
    display: flex;
    justify-content: right;
    align-items: center;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
